.nav > li > div.swith-box {
    color: #eef7fb;
    padding: 14px 20px 14px 25px;
}

body.mini-navbar > div.swith-box {
    padding: 14px 20px 14px 5px;
}

body.mini-navbar .navbar-default .nav > li > div.swith-box {
    padding: 14px 20px 14px 8px;
}

.footermenu {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.skin-1 .navbar-default .nav > li > a:hover,
.skin-1 .navbar-default .nav > li > a:focus {
    background: #3a4459;
    color: #fff;
}

.has-error .help-block {
    color: #F0524D;
}
.label-danger {
    background-color: #F0524D;
}
.btn-add-specialty, .btn-add-specialist, .btn-reduce-specialty, .btn-reduce-specialist {
    background-color: #50add4;
    border-color: #50add4;
}
.btn-add-specialty:hover, .btn-add-specialist:hover, .btn-reduce-specialty:hover, .btn-reduce-specialist:hover {
    background-color: #2e8eb6;
    border-color: #2e8eb6;
}

.mobile-header {
    height: 51px;
    font-size: 18px;
    line-height: 51px;
    color: #4DA0ED;
    background-color: #FAFAFA;
}

.mobile-header a {
    display: block;
    position: absolute;
    top: 10px;
    left: 10px;
}

.mobile-footer {
    bottom: -10px;
    font-size: 18px;
    color: #fff;
    text-align: center;
    border: none;
    background-color: transparent;
    /*box-shadow: 0px -2px 10px rgba(0, 0, 0, 0.3);*/
}

.mobile-footer:hover {
    color: #fff;
}

.mobile-footer .num {
    position: absolute;
    bottom: 27px;
    right: 12px;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 16px;
    line-height: 30px;
    background-color: #EE4A5F;
    border-radius: 50%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.specialties {
    font-size: 12px;
}


.dashboard-msg-box {
    float: left;
    width: 20%;
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.dashboard-msg-box .label-success { background-color: #50ADD4; }
.dashboard-msg-box .text-success { color: #50ADD4; }
.dashboard-msg-box .label-primary { background-color: #50C7AF; }
.dashboard-msg-box .text-primary { color: #50C7AF; }
.dashboard-msg-box .label-info { background-color: #6790E0; }
.dashboard-msg-box .text-info { color: #6790E0; }
.dashboard-msg-box .label-danger { background-color: #50C3C7; }
.dashboard-msg-box .text-danger { color: #50C3C7; }
.dashboard-msg-box .label-warning { background-color: #80B4E1; }
.dashboard-msg-box .text-warning { color: #80B4E1; }
