#page-hospital-add .inputs-specialist .label-image {
    cursor: pointer;
}

#page-hospital-add .color-square,
#page-hospital-add .link-add-color {
    display: inline-block;
    margin-right: 3px;
    width: 34px;
    height: 34px;
    font: normal normal normal 24px/34px 'initial';
    text-align: center;
    background-color: #fff;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    vertical-align: top;
    cursor: pointer;
}

#page-hospital-add .color-square:hover {
    opacity: 0.8;
}

#page-hospital-add .link-add-color:hover {
    background-color: #f3f3f3;
}

#page-hospital-add .color-square.selected::after {
    content: '√';
    color: #fff;
}

#page-hospital-add .color-square.color-0 {
    background-color: #1EBA6C;
}

#page-hospital-add .color-square.color-1 {
    background-color: #459DEF;
}

#page-hospital-add .color-square.color-2 {
    background-color: #F0437D;
}

#page-hospital-add .phone-wrapper {
    width: 331px;
    height: 669px;
    padding: 78px 22px;
    box-sizing: border-box;
    background-image: url('../../img/iPhone.png');
    background-size: 330px auto;
    background-repeat: no-repeat;
}

#page-hospital-add .mobile-footer {
    width: 290px;
    bottom: 76px;
    left: 36px;
    padding: 12px 0;
    background-size: 290px auto;
}

#page-hospital-add .mobile-footer .num {
    bottom: 20px;
}

#page-hospital-add .phone-wrapper .content {
    position: relative;
    height: 515px;
    padding-bottom: 50px;
    overflow: auto;
    background-color: #F0F0F0;
}

#page-hospital-add .phone-wrapper h3 {
  width: 100px;
  padding: 5px;
  text-align: center;
  background-color: #fff;
  border-left: 4px solid transparent;
}

#page-hospital-add .phone-wrapper.color-custom .mobile-footer {
  padding: 8px 0;
}

#page-hospital-add .phone-wrapper .content > .row {
    margin: 0 0 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

#page-hospital-add .technologies {
    margin: 0 10px;
}

#page-hospital-add .technology-box {
    /*display: inline-block;*/
    float: left;
    margin: 5px;
    width: 100px;
    height: 40px;
    text-align: center;
    color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
    line-height: 40px;
}

#page-hospital-add .doctor {
    margin-bottom: 5px;
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
}

#page-hospital-add .doctor:last-child {
    margin-bottom: -15px;
    border-bottom: none;
}

#page-hospital-add .doctor .doctor-avatar {
    float: left;
    width: 50px;
    border-radius: 50%;
    border: 1px solid transparent;
}

#page-hospital-add .doctor .doctor-detail {
    margin-left: 60px;
}

#page-hospital-add .doctor .doctor-detail .name {
    font-size: 16px;
}

#page-hospital-add .doctor .doctor-detail .title {
    margin-left: 5px;
    padding: 0 8px;
    font-size: 12px;
    color: #fff;
}

#page-hospital-add .address {
    margin: 5px 15px;
    font-size: 15px;
}

/* 三套配色 */
.phone-wrapper.color-0 .hospital-name {
  color: #1EBA6C;
}

.phone-wrapper.color-0 h3 {
  color: #1EBA6C;
  border-left: 4px solid #1EBA6C;
}

.phone-wrapper.color-0 .technology-box {
    border: 1px solid #14A35B;
}

.phone-wrapper.color-0 .technology-box,
.phone-wrapper.color-0 .doctor-detail .title {
    background-color: #1EBA6C;
}

.phone-wrapper.color-0 .doctor .doctor-avatar {
    border: 1px solid #14A35B;
}

.phone-wrapper.color-0 .mobile-footer {
    background-image: url('../../img/footer-color-0.png');
}

.phone-wrapper.color-1 .mobile-footer {
    background-image: url('../../img/footer-color-1.png');
}

.phone-wrapper.color-2 .mobile-footer {
    background-image: url('../../img/footer-color-2.png');
}

/* 三套配色 */
.phone-wrapper.color-1 .hospital-name {
  color: #459DEF;
}

.phone-wrapper.color-1 h3 {
  color: #459DEF;
  border-left: 4px solid #459DEF;
}

.phone-wrapper.color-1 .technology-box {
    border: 1px solid #257BCC;
}

.phone-wrapper.color-1 .technology-box,
.phone-wrapper.color-1 .doctor-detail .title {
    background-color: #459DEF;
}

.phone-wrapper.color-1 .doctor .doctor-avatar {
    border: 1px solid #257BCC;
}

/* 三套配色 */

.phone-wrapper.color-2 .hospital-name {
  color: #F0437D;
}

.phone-wrapper.color-2 h3 {
  color: #F0437D;
  border-left: 4px solid #F0437D;
}

.phone-wrapper.color-2 .technology-box {
    border: 1px solid #E0316C;
}

.phone-wrapper.color-2 .technology-box,
.phone-wrapper.color-2 .doctor-detail .title {
    background-color: #F0437D;
}

.phone-wrapper.color-2 .doctor .doctor-avatar {
    border: 1px solid #E0316C;
}
