#page-app-index {
    background-color: #F0F0F0;
}
#page-app-index .mobile-header {
    color: #F0437D;
}

#page-app-index h3 {
  width: 100px;
  padding: 5px;
  color: #F0437D;
  text-align: center;
  background-color: #fff;
  border-left: 4px solid #E0316C;
}

#page-app-index .wrapper {
    padding: 0;
}

#page-app-index .wrapper > .row {
    margin: 10px -15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #ddd;
}

#page-app-index .technologies {
    margin: 0 10px;
}

#page-app-index .technology-box {
    /*display: inline-block;*/
    float: left;
    margin: 5px;
    width: 100px;
    height: 40px;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    background-color: #F0437D;
    border: 1px solid #E0316C;
    line-height: 40px;
}

#page-app-index .doctor {
    margin-bottom: 5px;
    padding: 5px 15px;
    border-bottom: 1px solid #ddd;
}

#page-app-index .doctor:last-child {
    margin-bottom: -15px;
    border-bottom: none;
}

#page-app-index .doctor .doctor-avatar {
    float: left;
    width: 50px;
    border-radius: 50%;
    border: 1px solid #E0316C;
}

#page-app-index .doctor .doctor-detail {
    margin-left: 60px;
}

#page-app-index .doctor .doctor-detail .name {
    font-size: 16px;
}

#page-app-index .doctor .doctor-detail .title {
    margin-left: 5px;
    padding: 0 8px;
    font-size: 12px;
    color: #fff;
    background-color: #F0437D;
}

#page-app-index .address {
    margin: 5px 15px 60px;
    font-size: 15px;
}

#page-app-index .mobile-footer {
    padding: 0;
    height: 55px;
    line-height: 55px;
    background-image: url('../../img/footer-color-2.png');
    background-size: 100%;
    color: #fff;
    position: fixed;
    bottom: 0;
}
