#page-app-chat {
    background-color: #F0F0F0;
}
#page-app-chat .mobile-header {
    color: #F0437D;
}
#page-app-chat h3 {
  width: 100px;
  padding: 5px;
  color: #F0437D;
  text-align: center;
  background-color: #fff;
  border-left: 4px solid #E0316C;
}

#page-app-chat .footer textarea {
  resize: none;
}

#page-app-chat .btn-primary {
  background-color: #F0437D;
  border: 1px solid #E0316C;
}

